body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
  }
  
  div {
    margin-bottom: 10px;
    text-align: center;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="number"] {
    width: 200px;
    padding: 5px;
  }

  .button-container {
    display: flex;
    justify-content: center;
  }
  
  button {
    padding: 10px;
    font-size: 16px;
    margin-top: 10px;
  }
  